<%books.forEach(book=>{ const created=new Date(book.written); %>
<div class="book">
  <p class="book__title"><%=book.title%></p>
  <div class="book__cover">
    <img src="<%=book.src %>" alt="poster of <%=book.title%>" />
  </div>

  <div class="book__wrapper">
    <div class="book__details">
      <p class="details__author">Author : <%=book.author %></p>

      <p class="details__written">Created : <%=created.getFullYear() %></p>
      <p class="details__genres">Type: <%=book.genres%></p>
    </div>
  </div>
  <div class="book__description"><%=book.description %></div>
  <div class="book__options">
    <%if(func==="books"){%>
    <form
      action="/books/<%=book.id%>?genres=<%=book.genres%>&_method=DELETE"
      method="post"
      class="book__form"
    >
      <button class="btn">delete book</button>
    </form>
    <a href="/books/<%=book.id %>" class="btn">update book</a>
    <%}else if(func==="favs"){ %>
    <form
      action="/user/<%=user.id%>/favs?_method=DELETE"
      method="post"
      class="book__form"
    >
      <input
        type="text"
        style="display: none"
        name="book"
        value="<%=book.id %>"
      />
      <button class="btn">remove from favs</button>
    </form>
    <%} %>
  </div>
</div>
<%}) %>
