<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/header")%>
  <body>
    <div class="wrapper">
      <!-- <nav class="topNav">topNav</nav> -->
      <%-include("../partials/topNav") %> <%-include("../partials/sideNav") %>
      <div class="content">
        <% if(success){%>
        <div class="info">
          <p class="success"><%=success %></p>
        </div>
        <%} %> <% if(error && typeof error=="string"){%>
        <div class="info">
          <p class="error"><%=error %></p>
        </div>
        <%} %> <%-body%>
      </div>
      <footer class="footer">Footer</footer>
    </div>
  </body>
</html>
